*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
kernel/kernel
user/usys.S
.gdbinit
zig-cache/
zig-out/
.cache/
mkfs/mkfs
compile_commands.json

kernel/start.c
kernel/main.c
kernel/printf.c
kernel/syscall.c
kernel/kalloc.c
kernel/vm.c
kernel/proc.c
kernel/sysproc.c
kernel/sysfile.c
kernel/syscall.c
kernel/exec.c
